{
	"global" : [
		{ "name":"Выпустить", "script":"letout" },
		{ "name":"Турбо пищеварение", "script":"turboDigest", "locations":["belly"] }
	],
	"sbqOccupantHolder" : [
		{ "name":"Яйцефикация", "script":"eggify", "locations":["womb"] },
		{ "name":"Преобразование", "script":"transform", "locations":["womb"] },
		{ "name":"Трансформация в кончу", "script":"transform", "locations":["shaft", "knot", "ballsR", "ballsL"] },
		{ "name":"Пищеворение в кончу", "script":"cumDigest", "locations":["shaft", "knot", "ballsR", "ballsL", "womb" ] }
	],
	"sbqVaporeon" : [
		{ "name":"Преобразование", "script":"transform", "locations":["belly"] }
	],
	"sbqXeronious" : [
		{ "name":"Яйцефикация", "script":"eggify", "locations":["belly"] }
	],
	"sbqAvian" : [
		{ "name":"Трансформация в кончу", "script":"transform", "locations":["shaft", "knot", "ballsR", "ballsL"] },
		{ "name":"Пищеворение в кончу", "script":"cumDigest", "locations":["shaft", "knot", "ballsR", "ballsL", "womb"] }
	],
	"sbqSlime" : [
		{ "name":"Преобразование", "script":"transform" }
	],
	"sbqZiellekDragon" : [
		//{ "name":"Transform", "script":"transform", "locations":["womb"] },
		{ "name":"Яйцефикация", "script":"eggify", "locations":["womb"] },
		{ "name":"Трансформация в кончу", "script":"transform", "locations":["shaft", "knot", "ballsR", "ballsL"] },
		{ "name":"Пищеворение в кончу", "script":"cumDigest", "locations":["shaft", "knot", "ballsR", "ballsL", "womb"] }
	],
	// specific scripts for species when tfed and using an occupantHolder
	"myfirsttest" : [ // latex
		{ "name":"Яйцефикация", "script":"eggify", "locations":["womb"] },
		{ "name":"Преобразование", "script":"transform", "locations":["womb", "belly"] },
		{ "name":"Трансформация в кончу", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] },
		{ "name":"Пищеворение в кончу", "script":"cumDigest", "locations":["shaft", "knot", "ballsR", "ballsL", "womb"] }
	]
}
